
<div  id="newanswerbox" style="margin-top: 10px;"
	class="mainbox col-md-12">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">New answer</div>
		</div>
		<div style="padding-top: 30px" class="panel-body">
			<form  name="editForm" class="form-horizontal" method="post" ng-controller="AnswerEditController"
				ng-submit="updateAnswer()" novalidate form-autofill-fix>
			
                            <div class="input-group" style="margin-top: 5px">
                                
                                            Author: {{answer.id_user}} Id Task:{{answer.id_task}} Suma: {{answer.voteAnswerPkt}}
				</div>
                            
                                <div style="width:20px; height:20px; margin-top: 25px" class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control custom-control" style="height:120px; width:650px" 
                                          ng-model="answer.textAnswer" placeholder="{{answer.textAnswer}}"></textarea>
                                </div>
				
				<div style="margin-top: 10px" class="form-group">
					<div class="col-sm-12 controls">
						<input type="submit"  class="btn btn-success"
							value="Save" /> <a class="btn btn-danger" ng-click="deleteAnswer(answer)">Delete</a>
    
					</div>
    <div  ng-controller="NewVoteController"  ng-click="upVote(this.answer)" class="glyphicon glyphicon-chevron-up" style='cursor:pointer'></div>
    <div ng-controller="VoteListController" ng-repeat="vote in votes"> {{answer.voteAnswerPkt}}</div>
    <div ng-controller="NewVoteController"  ng-click="downVote(this.answer)" class="glyphicon glyphicon-chevron-down" style='cursor:pointer'></div>
    
                                    
				</div>
			</form>
		</div>
	</div>
    </div>
 