<a ui-sref="newTask" class=" btn-lg nodecoration">Add New Task</a>
<div ng-repeat="task in tasks">
    
    <div ng-controller="AppController" id="viewbox" style="margin-top: 5px;"
     class="mainbox col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title"><strong>Task</strong></div>
            
        </div>
        <div style="padding-top: 10px" class="panel-body">   
            <form name="editForm" class="form-horizontal" method="post"
				ng-submit="updateTask()" novalidate form-autofill-fix>
				<div class="input-group" style="margin-top: 5px">
                                                
                                            <label class="checkbox">
                                               <input ng-controller="NewSubscribeController" ng-model="task.subscribed" ng-change="isSubscribed(this.task)" type="checkbox"> Subscribe 
                                            </label>
                                               
                                            <div>Author: {{task.id_user}} </div>
                                            <div  ng-controller="NewVoteTaskController"  ng-click="upVote(this.task)" class="glyphicon glyphicon-chevron-up" style='cursor:pointer'></div>
                                            <div> {{task.voteTaskPkt}} </div>
                                            <div ng-controller="NewVoteTaskController"  ng-click="downVote(this.task)" class="glyphicon glyphicon-chevron-down" style='cursor:pointer'></div>
				</div>
                
                
                                <div class="input-group" style="width:250px; height:20px; margin-top: 5px">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-bullhorn"></i></span> 
                                                <input  class="form-control"
						placeholder="{{task.typeOfQuestion}}"/>
				</div>
                
                
                                 <div class="input-group" style="width:250px; height:20px; margin-top: 5px" >
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-eye-open"></i></span> 
                                                <input  class="form-control" 
						placeholder="{{task.typeOfSpeak}}"/>
				</div>
                
                                <div class="input-group" style="width:250px; height:20px; margin-top: 5px" >
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-briefcase"></i></span> 
                                       <select class="form-control" ng-disabled="true" ng-model="task.typeOfJob" ng-options="item.id as item.name for item in typeOfJobs"></select>    
				</div>
                               
                          
                            <div style="width:20px; height:20px; margin-top: 15px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-pencil"></i></span> 
                                                <textarea  class="form-control custom-control" style="height:120px; width:650px"  
                                                placeholder="{{task.text}}"></textarea>
                            </div>
                            <div style="width:200px; margin-top: 15px" class="input-group">
                                <a ui-sref="showRequest({id_task: task.id_task})"><span class="glyphicon glyphicon-circle-arrow-down" ></span><span class="text-primary">Answers: {{task.amountAnswer}}        </span></a>
                                <a ui-sref="newAnswer({id_task: task.id_task})"><span class="glyphicon glyphicon-circle-arrow-right" ></span><span class="text-primary">Add answer</span></a>
                               </div> 
				<div style="margin-top: 40px" class="form-group">
					<div class="col-sm-12 controls">
                                                <a class="btn btn-primary" ui-sref="editTask({id_task:task.id_task})">Edit</a>
                                                <a  ng-controller="TaskListController" class="btn btn-danger" ng-click="deleteTask(this.task)">Delete</a>
                                        </div>
                                </div>
                </form>
           </div>
      </div>
    </div>
       
</div>

