<div class="form-group">
  <label for="text" class="col-sm-2 control-label">Text</label>
  <div class="col-sm-10">
      <input type="textarea" ng-model="task.text"  class="form-control" id="text" rows="10" placeholder="Text"/>
  </div>
</div>
<div class="form-group">
  <label for="id_user" class="col-sm-2 control-label">Author</label>
<!--  <div class="col-sm-10">
    <input type="text" ng-model="task.id_user" class="form-control" id="id_user" placeholder="Author"/>
  </div>-->
</div>
<div class="form-group">
  <label for="type_of_question" class="col-sm-2 control-label">Type of question</label>
  <div class="col-sm-10">
    <input type="text" ng-model="task.type_of_question" class="form-control" id="type_of_question" placeholder="Type of question"/>
  </div>
</div>
<div class="form-group">
  <label for="type_of_speak" class="col-sm-2 control-label">Type of speak</label>
  <div class="col-sm-10">
    <input type="text" ng-model="task.type_of_speak" class="form-control" id="type_of_speak" placeholder="Type of speak"/>
  </div>
  <div class="form-group">
  <label for="type_of_job" class="col-sm-2 control-label">Type of job</label>
  <div class="col-sm-10">
    <input type="text" ng-model="task.type_of_job" class="form-control" id="type_of_job" placeholder="Type of job"/>
  </div>
  <div class="form-group">
  <label for="amount_answer" class="col-sm-2 control-label">Amount answer</label>
<!--  <div class="col-sm-10">
    <input type="text" ng-model="task.amunt_answer" class="form-control" id="amount_answer" placeholder="Amount answer"/>
  </div>-->
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>
