<!DOCTYPE html>
<html data-ng-app="mainApp">
    <head lang="pl">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/app.css"/>

  <title>It Interviews</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script></head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">IT interview Questin & Answer</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#">Account</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin Tools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#users">Users manager</a></li>
            <li><a href="#tasks">Tasks manager</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
 
 <div class="container">
      <div class="row top-buffer">
        <div class="col-xs-8 col-xs-offset-2">
          <div ui-view></div>
        </div>
      </div>
    </div>
    
      
<!--      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>-->
      <script type="text/javascript" src="static/angular.min.js"></script>
      <script type="text/javascript" src="static/angular-resource.min.js"></script>
      <script type="text/javascript" src="static/angular-ui-router.js"></script>
      <script type="text/javascript" src="static/js/app.js"></script>
      <script type="text/javascript" src="static/js/service/user_service.js"></script>
      <script type="text/javascript" src="static/js/controller/user_controller.js"></script>
      <script type="text/javascript" src="static/js/service/task_service.js"></script>
      <script type="text/javascript" src="static/js/controller/task_controller.js"></script>
      
  </body>
</html>


