<!--<p>Sign up</p>

<form ua-signup ng-show="!verificationEmailSent">
	<input name="first_name" placeholder="Your name"><br>
	<input name="login" ua-is-email placeholder="Email"><br>
	<input name="password" placeholder="Password" type="password"><br>
	<p><button type="submit">Create account</button> or <a href="" ua-oauth-link="google">Sign up with Google</a></p>
	
	<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
	<p ng-show="error">{{ error.message }}</p>
</form>

<p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to verify your account.</p>
<p><a href="#/login">Log in</a></p>-->

<div id="loginbox" style="margin-top: 10px;"
	class="mainbox col-md-12">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Register</div>
			
		</div>
		<div style="padding-top: 30px" class="panel-body">
			<form name="loginForm" class="form-horizontal" method="post"
				ng-submit="addUser()" novalidate form-autofill-fix>
				
				
				<div style="margin-top: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> <input type="text"
						class="form-control" id="login" name="login"
						ng-model="user.login" placeholder="Login"
						required />
				</div>
				<div style="margin-top: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-lock"></i></span> <input type="password"
						class="form-control" id="password" name="password"
						ng-model="user.password" placeholder="Password" required />
				</div>
                                <div style="margin-top: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-envelope"></i></span> <input type="text"
						class="form-control" id="email" name="email"
						ng-model="user.email" placeholder="Email" required />
				</div>
				
				<div style="margin-top: 10px" class="form-group">
					<!-- Button -->

					<div class="col-sm-12 controls">
						<input type="submit"  class="btn btn-success"
							value="Save" />
					</div>

				</div>

			</form>
		</div>
	</div>
</div>