
<div class="box-descrip">
                                                <h4>{{user.login}}</h4>
                                                <p>{{ user.password }}</p>
                                                <p>{{user.email}}</p>
                                        </div>









<!--<table class="table user">
  <tr>
    <td><h3>Welcome {{user.login}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Login</td>
    <td>{{user.login}}</td>
  </tr>
  <tr>
    <td>Password</td>
    <td>{{user.password}}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{user.email}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary"  href="editUser({id_user:{{currentUser}}})">Edit</a>
</div>-->