<div ng-controller="AppController" id="viewbox" style="margin-top: 10px;"
     class="mainbox col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Your account</div>
        </div>
        <div style="padding-top: 30px" class="panel-body">   
            <form name="editForm" class="form-horizontal" method="post"
				ng-submit="editUser()" novalidate>
				
				<div style="margin-top: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-user"></i></span> 
                                                <input  class="form-control" ng-disabled="true"
                                                placeholder="{{user.login}}"/>
				</div>
				<div style="margin-top: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-lock"></i></span> 
                                                <input  class="form-control" ng-disabled="true"
						placeholder="***********" />
				</div>
                                <div style="margin-top: 25px" class="input-group">
					<span class="input-group-addon"><i
						class="glyphicon glyphicon-envelope"></i></span> 
                                                <input  class="form-control" ng-disabled="true"
						placeholder="{{user.email}}"/>
				</div>
				
				<div style="margin-top: 10px" class="form-group">
					<div class="col-sm-12 controls">
						<!--<a class="btn btn-primary" ng-click="viewUser({id_user:{{currentUser.id}}})">Edit</a>-->
                                                <!--<a href="/user/update/{{currentUser.id}}">Edit</a>-->
                                                <a class="btn btn-primary" ui-sref="editUser({id:user.id})">Edit</a>
                                               
					</div>
				</div>
			</form>
                </div>
         </div>
</div>